language: python
python:
  - "3.6" # TODO: need to upgrade this when we upgrade the pipeline requirements.txt
# command to install dependencies
install:
  - pip install nose pylint
  - pip install .

# command to run tests
script:
  - nosetests --nocapture
  - pytest ./tests/unit
#  - find . -name "*.py" -exec pylint -E --disable=import-error '{}' +
branches:
  only:
    - master
    - development
    - dev
