dill==0.3.9
#granite-tsfm>=2
ibm-db==3.2.6
ibm-db-sa==0.4.1
# ibm-watson-machine-learning==1.0.368 removing as of conflict with pandas 2.2
ibm-watsonx-ai==1.3.17
lxml==5.3.1
lightgbm==4.6.0
nose2==0.15.1
pandas==2.2.3
prophet==1.1.6
pyarrow==19.0
pyod==2.0.2
certifi>=2025.4.26
requests==2.32.4
ruptures==1.1.10
scikit-learn==1.6.1
scikit-image==0.25.2
scipy==1.15.2
sqlalchemy==2.0.36
statsmodels==0.14.4
stumpy==1.13.0
numpy==2.0.2
tabulate==0.9.0
# torch==2.2.0 : installation moved to Dockerfile
transformers==4.57.6
urllib3==2.6.1
protobuf==4.25.3
