dill==0.3.5.1
numpy==1.23.1
ibm_db==3.1.3   #  3.02 results in "error in ibm_db setup command: use_2to3 is invalid."
ibm_db_sa==0.3.8
ibm-watson-machine-learning==1.0.264
lxml==4.9.1
lightgbm==3.3.2
nose2==0.6.0
pandas==1.4.3
psycopg2-binary==2.9.5
pyarrow==8.0.0
pyod==1.0.0
certifi>=2023.7.22
requests==2.31.0
ruptures==1.1.5
scikit-learn==1.1.1
scikit-image==0.19.2
scipy==1.8.1
sqlalchemy==1.4.39
statsmodels==0.13.2
stumpy==1.9.2
tabulate==0.8.10
torch==1.13.1
urllib3==1.26.11

#
# Issue in KITT library requires package protobuf to be fixed at version 3.20.1
# Descritption:
#TypeError: Descriptors cannot not be created directly.
# If this call came from a _pb2.py file, your generated code is out of date and must be regenerated with protoc >= 3.19.0.
# If you cannot immediately regenerate your protos, some other possible workarounds are:
#  1. Downgrade the protobuf package to 3.20.x or lower.
#  2. Set PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python (but this will use pure-Python parsing and will be much slower).
#
protobuf==3.20.2    # (> CP4D 4.6.3 which has 3.19.1, Version defined by Jörn/KITT 2022-Aug-11)
